/* font Roboto from fonts.google.com */
@font-face {
    font-family: "Roboto Regular";
    src: url("src/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto Thin";
    src: url("src/fonts/Roboto/Roboto-Thin.ttf") format('truetype');
}

:root {
    /* colors */
    --link: #598aeb;
    --link-hovered: #59e4ea;
    --field: #a7e8eb;
    --field-transparent: #a7e8ebcc;

    /* sizes */
    --margin-side: 50px;
    --border-radius: 5px;
}


* {
    margin: 0;
    padding: 0;

    font-family: "Roboto Regular";
    color: black;
}

p {
    font-size: 20px;
}

/* all links in lists (e.g. in navigations) */
li>a {
    text-decoration: none;
    color: white;

    border-radius: var(--border-radius);
    background-color: var(--link);

    position: relative;
    overflow: hidden;
    z-index: 1;
}

li>a::before {
    content: '';
    border-radius: var(--border-radius);
    background-color: var(--link-hovered);

    width: 0%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transition: all 0.5s;
    z-index: -1;
}

li>a:hover::before {
    width: 100%;
    transition: all 0.5s;
}


/*
    header
*/

header {
    margin-top: 1em;
    padding: 4px var(--margin-side);

    background-color: var(--field);
    height: auto;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    grid-auto-flow: column;

    align-items: center;
}

.header-title {
    font-size: 2.8em;
    text-decoration: none;
}


/*
    navigation
*/

nav>ul {
    list-style-type: none;

    align-content: center;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}


nav a {
    padding: 14px;
}

nav a.current {
    background-color: var(--link-hovered);
}

/*
    mobile navigation
*/

.nav-menu-icon {
    display: none;
    cursor: pointer;
}

.mobile-nav {
    margin-top: 2em;

    display: none;
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);
}


@media screen and (max-width: 800px) {

    .nav-menu-icon {
        display: block;
    }

    header nav li a {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .mobile-nav[aria-expanded="false"] {
        height: 0;
        transform: rotateX(90deg);
        transition: all 0.5s;
    }

    .mobile-nav[aria-expanded="true"] {
        max-height: auto;
        transform: rotateX(0deg);
        transition: all 0.5s;
    }
}


/*
    content
*/

main {
    margin: var(--margin-side);
}

main>p,
h1~p {
    margin-bottom: 2em;
}


h1 {
    margin-bottom: 1rem;

    font-weight: inherit;
    font-size: 3em;
}

main>nav>ul {
    justify-content: right;
    flex-direction: column;
    gap: 50px;
}

main>nav li {
    width: 100%;
}

.large-link {
    width: 100px;
    height: 2em;
    padding: 20px;
    margin: 10px;

    background-color: var(--link);
}


/*
    icons
*/
.icon {
    display: inline;
    height: 0.8em;
    width: auto;
}

.icon.play {
    content: url('src/icons/play.svg');
}

.icon.menu {
    height: 1.5em;
    width: 1.5em;
}

.nav-menu-icon[aria-expanded="false"]>.icon.menu {
    content: url('src/icons/menu.svg');
}

.nav-menu-icon[aria-expanded="true"]>.icon.menu {
    content: url('src/icons/openmenu.svg');
}


/*
    gallery
*/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 1em;
}

.gallery-item {
    display: grid;
    grid-template-areas:
        "image"
        "figcaption";
    justify-items: stretch;
}

.image-container {
    grid-area: image;

    height: 500px;
    width: 100%;
    justify-items: center;

    display: grid;
    grid-template-columns: auto;

    /* hide image-description, when it is over the item */
    overflow: hidden;
    position: relative;
}

.image-container img {
    grid-column: 1;

    height: 100%;
    width: auto;

    z-index: 0;
}

/* overlay of the image with a description of the image */
.image-description {
    grid-column: 1;

    text-align: center;
    background-color: var(--field-transparent);
    padding: 1em;
    height: 100%;

    opacity: 1;
    z-index: 2;
    position: absolute;
    transform: translateY(100%);
    transition: opacity 0s ease, transform 1s ease;
}

.image-container:hover>.image-description {
    z-index: 2;
    transform: translateY(0%);
}

.figcaption {
    text-align: center;
    padding: 0.5em;
}

@media screen and (max-width: 800px) {

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 10px;
    }

    .image-container {
        height: 400px;
    }
}